POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_contrasena_aqui
POSTGRES_DB=energiai_db
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/energiai_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=tu_contrasena_aqui
JWT_SECRET=tu_jwt_secret_aqui

# --- Oracle Cloud Infrastructure (OCI) - Object Storage ---
OCI_ENABLED=true
OCI_TENANCY_OCID=ocid1.tenancy.oc1..aaaaaaaawcww3xmubap7lndrmouiqyit3m7ke53hiumrk3hhojqejlnqkp6a
OCI_USER_OCID=ocid1.user.oc1..aaaaaaaajukkergpi7wmcejreb5nt2sie34x676utn4mrg7vd5uayvaqiwaq
OCI_FINGERPRINT=78:d2:a6:46:19:d0:4e:69:6a:e3:53:7b:b8:f4:8c:df
OCI_REGION=sa-santiago-1
# Ruta DENTRO del contenedor donde se monta la clave privada (ver docker-compose.yaml)
OCI_PRIVATE_KEY_PATH=/app/secrets/oci_api_key.pem
OCI_PASSPHRASE=
OCI_NAMESPACE=axfqay0gol3u
OCI_BUCKET_NAME=energiai-models
OCI_MODEL_OBJECT_NAME=EnergiAI_model.onnx